.main {
    background-image: url("assets/images/back.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    height: 85vh;
    /* background-size: cover; */
    position: relative;
    /* filter: brightness(50%); */
    width: 100%;
}


body {
    background-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=YourFontName:wght@400;600&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

.box {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    background-color: black;
}

nav {
    display: flex;
    max-width: 70vw;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

nav img {
    color: red;
    width: 150px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;
    height: calc(100%-100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
    font-size: 20px;
    z-index: 10;
    gap: 23px;
    padding: 0 23px;
}

.hero> :first-child {
    font-weight: 700;
    font-size: 2.5rem;
    font-family: unset;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
}

.hero> :nth-child(4) {
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
}

.separation {
    height: 4px;
    background-color: grey;

}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: white;
    color: black;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 23px;
    font-size: 20px;
    border-radius: 4px;
}

.btn-red-sm {
    background-color: red;
}

.main input {
    padding: 3px 23px;
    font-size: 20px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.9);
    border: 1px solid rgba(23, 23, 23, 0.5);
    color: azure;

}

.first {
    display: flex;
    justify-content: center;
    min-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    padding: 4vw;
    gap: 40px;


}



.secimage img {
    width: 555px;


}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 40px;
    font-weight: bolder;

}

section.first>div :nth-child(2) {
    font-size: 19px;


}

section.first>div :nth-child(3) {
    font-size: 19px;


}
@media screen and (max-width: 1300px) {
    body {
        border-color: red;

    }

    .first {
        flex-wrap: wrap;
    }

    .secimage img {
        width: 305px;
    }
    nav{
        max-width: 90vw;
    }
}
.faq h2 {
    text-align: center;
    font-size: 2rem;
}

.faq {
    padding: 34px;
    background: black;
    color: white;
}

.faqbox:hover {
    background-color: rgb(116, 115, 115);
}

.faqbox {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);
    padding: 1.5rem;
    max-width: 50vw;
    margin: 10px auto;
    cursor: pointer;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}

footer span {
    margin: 2px 30vw;
    padding: 34px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    text-align: center;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}